  <article>
      <h1>归档</h1>
      <%let years=[];posts.forEach((item)=>{const year=item.date.substring(0,4);if(!years.includes(year)){years.push(year)}});%>
      <%years.forEach(function(year){%>
      <h2 class="year"><%-year%></h2>
      <%posts.forEach(function(post){%>
        <%if(post.date.indexOf(year)!==-1){%>
        <a href="<%= post.link %>" class="post">
          <h2>
            <%= post.title %>
          </h2>
          <div><%= post.dateFormat %></div>
        </a>
        <%}%>
      <%});%>
      <%});%>
  </article>

