<!DOCTYPE html>
<html>
  <head>
     <%- include('./includes/head', { siteTitle: `归档 | ${themeConfig.siteName}` }) %>
  </head>
  <body>

    <%- include('./includes/top') %>
  	<div class="content">
      <div class="content_resize">
        <div class="mainbar">
          <div class="article">
            <%- include('./includes/post-list-archives') %>
          </div>
        </div>

  
 <%- include('./includes/footer') %>
  </body>
</html>